@charset "utf-8";

.widget-miso-post-more { position:relative; }
.widget-miso-post-more #infscr-loading { background: rgb(0, 0, 0); margin:0px; padding: 10px; border-radius: 10px; left: 50%; width: 200px; margin-left:-110px; text-align: center; bottom: 50px; color: rgb(255, 255, 255); position: fixed; z-index: 100; opacity: 0.8; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.widget-miso-post-more .item-more { text-align:center; margin:20px 0px 0px; }
.widget-miso-post-more .item-more a { color:#333; }
.widget-miso-post-more .item-more a:hover { color:crimson; }

.widget-miso-post-more .item-list { position:relative; overflow:hidden; background: #fff; padding:10px; border:1px solid #ddd;}
.widget-miso-post-more .img-more { margin-bottom:10px; }
.widget-miso-post-more .txt-more { padding:0px; text-align:center; }
.widget-miso-post-more .item-heading { display:block; margin:0px; font-weight:bold; }
.is-pc .widget-miso-post-more .item-heading { font-size:14px; }
.is-mobile .widget-miso-post-more .item-heading { font-size:16px; }
.widget-miso-post-more .item-details { margin-top:10px; padding:4px 0px; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; }
.widget-miso-post-more .item-cont { margin-top:10px; padding:0; line-height:20px; min-height:40px; }
.widget-miso-post-more .item-sp { margin:0px 7px; color:#ddd; font-size:11px; }
.widget-miso-post-more .item-read { margin-top: 10px; }
.widget-miso-post-more .item-read .pull-left i { margin-right:2px; }
.widget-miso-post-more .read-more { }
.widget-miso-post-more .read-more i { margin-left:4px; }

.widget-miso-post-more .item-wrap { overflow:hidden; }
.widget-miso-post-more .item-row { float:left; }
.widget-miso-post-more .item-none { padding:50px 10px; }
